# <center>A Report on Sentiment Analysis</center>

## 1. Data Exploration

In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('data/sentiment_5_class_train.csv')
test_df = pd.read_csv('data/sentiment_5_class_test.csv')

In [3]:
train_df.head()

                                              Phrase  Sentiment
0                                       the prisoner          2
1  The sheer joy and pride they took in their wor...          3
2  has never made a more sheerly beautiful film t...          3
3  the story has the sizzle of old news that has ...          3
4                                       far superior          4

In [4]:
test_df.head()

                                              Phrase  Sentiment
0  makes for a touching love story , mainly becau...          3
1                              a truly magical movie          4
2                                              check          3
3     is a remarkably accessible and haunting film .          4
4                                       are too cute          3

In [5]:
train_df.shape

(14711, 2)

In [6]:
test_df.shape

(3678, 2)